#include "Shared.xcconfig"

// Debug-only build settings.

ONLY_ACTIVE_ARCH = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = singlefile
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
ENABLE_TESTABILITY = YES
DEBUG_INFORMATION_FORMAT = dwarf
COPY_PHASE_STRIP = NO
